[Desktop Entry]
Encoding=UTF-8
Name=Uptime Display
Name[nl]=Uptime Display
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Inclooder
X-KDE-PluginInfo-Email=inclooder@gmail.com
X-KDE-PluginInfo-Name=uptime-display
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/inclooder/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
